
@import "bootstrap-sprockets";
@import "bootstrap";

$standard-height: 125px;

* {
  box-sizing: content-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:14px;
  overflow-y: scroll;
  background-color: #000000;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255,255,255,.7);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.schedule-container {
  margin-left: 75px;
  margin-top:45px;
}

.schedule {
  cursor: ew-resize;
}

.header {
  position: fixed;
  top:0px;
  left:0px;
  height:45px;
  width:100%;
  background-color: #000000;
  color:#fff;
  font-size: 26px;
  border-bottom: solid 1px #fff;
}

li.ui-menu-item {
  background:#fff;
  font-size:26px;
}

#time-bar {
  background-color: #B00100;
  color:#fff;
  height:25px;
  border-bottom: #fff solid 1px;
}

.hour-marker {
  position: absolute;
  border-right: #ffffff solid 3px;
  padding-left: 5px;
  height: 100%;
  padding-top: 3px;
}


.location-panel{
  -webkit-transform: rotate(-90deg) translate(-100%, 0px);
  -webkit-transform-origin: 0% 0%;
  -moz-transform: rotate(-90deg) translate(-100%, 0px);
  -moz-transform-origin: 0% 0%;
  -ms-transform: rotate(-90deg) translate(-100%, 0px);
  -ms-transform-origin: 0% 0%;
  position: fixed;
  left:0px;
  top:0px;
  overflow: auto;
  white-space: nowrap;
  padding-right:70px;
  background-color: #B00100;
}

.header input {
  color:#000;
  margin-left:8px;
  margin-right:15px;
  width:400px;
}

.location-panel:last-child{
  padding-right: 25px;
  background-color: #B00100;
}

.location {
  background-color: #B00100;
  color:#fff;
  height:50px;
  width:$standard-height;
  text-align: center;
  display: inline-block;
  padding-top:25px;
  border-right: #fff 1px solid;
}

.venue-row {
  overflow-x: scroll;
  display: table;
  border-bottom: #fff solid 1px;
  position:relative;
  height: $standard-height;
  background-color:#000;
  width: 100%;
}

.show {
  position: absolute;
  padding-top: 5px;
  padding-left: 5px;

  border-left: #ffffff solid 1px;
  border-right: #ffffff solid 1px;

  height:119px;
  background-color: #333;
  margin-left: 1px;
  margin-right: 1px;
  overflow: hidden;
  color:#cccccc;

  background: url('http://delclosemarathon.com/static/dcm/images/bg_gradient.png');
  background-origin: border-box;
  background-repeat-x: no-repeat;
  background-size: contain;
}

.show.search-result-on{
  background: none;
  background-color: #ffffff;
  color:#000;
}

.show-title {
  /*white-space: nowrap;*/
}

.big-show {
  width:100px;
}

// modal

.screen-width-container {
  position: fixed;
  top:0;
  left: 0;
  width:100%;
}

.modal-title {
  font-size: 30px;
  line-height: 33px;
}

.modal-left, .modal-right {
  width:48%;
  display: inline-block;
  vertical-align: top;
}
.modal-left {
  padding-right: 10px;
}

.modal-show-times {
  font-size:24px;
}

.modal-image {
  width: 100%;
}

$mobile-height: 250px;

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

  #time-bar {
    height: 75px;
    font-size: 30px;
  }

  .location-panel {
    padding-right:122px;
  }

  .show{
    font-size:32px;
    height: $mobile-height;
  }

  .venue-row {
    height: $mobile-height;
  }

  .location {
    width: $mobile-height;
  }

  .modal-show-title {
    font-size:40px;
  }

  .modal-show-description{
    font-size: 40px;
  }

  .modal-content {
    width: 900px;
    margin-left: -150px;
  }

  li.ui-menu-item {
    background:#fff;
    font-size:40px;
  }

  .header input {
    height:100%;
  }

}