/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: sans-serif;
    overflow-y: scroll;
}

.schedule-container {
    margin-left: 75px;
}

.schedule {
    width:100000px;
    cursor: ew-resize;
}

.location-panel{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #ccc;
    -webkit-transform: rotate(-90deg) translate(-100%,0px);
    -webkit-transform-origin: 0% 0%;
    white-space: nowrap;
}

.location {
    background-color: #B00100;
    color:#fff;
    width:122px;
    display: inline-block;
    text-align: center;
    height: 50px;
    padding-top:25px;
}

.venue-row {
    width:100%;
    background-color: #cccccc;
    overflow-x: scroll;
    display: table;
    border-bottom: #000 solid 1px;
    position:relative;
    height: 124px;
}

.show {
    position: absolute;
    padding-top: 5px;
    padding-left: 5px;

    border-left: #000 solid 1px;
    border-right: #000 solid 1px;

    height:119px;
    background-color: #77ffff;
    margin-left: 1px;
    margin-right: 1px;
    overflow: hidden;
}

.show-title {
    /*white-space: nowrap;*/
}

.big-show {
    width:100px;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

    .show{
        font-size:36px;
        height: 250px;
    }

    .venue-row {
        height: 251px;
    }

}